@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
/* Variables css */
:root{
    --header-height:3.5rem;
}
.header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition:box-shadow .4s;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}
.nav__logo:hover{
    color: var(--first-color);
}
.nav__toggle,
.nav__close{
    font: size 1.5em; 
    cursor: pointer;
}

/* Nevigation for mobile device */
@media screen and (max-width:1150px){
    .nav__menu{
        position:fixed;
        top:-120%;
        left:0;
        width:100%;
        background-color: var(--body-color);
        box-shadow: 0 8px 16px hsla(0, 0%, 0%, .5);
        padding-block: 5rem 4rem;
        border-radius: 0 0 1.5rem 1.5rem;
        transition: top .4s;
    }
}

.nav__list{
    text-align: center;
    display:flex;
    flex-direction: column;
    row-gap: 1.5rem;
    
}

.nav__link{
    position: relative;
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition:color .4s, width .4s;
}

.nav__link::after{
    content: '';
    width: 60%;
    height: 2px;
    background-color: var(--first-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .4s;
}
.nav__link:hover{
    color: var(--first-color);

}
.nav__link:hover::after{
    width:60%

}
.nav__close{
    position:absolute;
    top: 1rem;
    right: 1.5rem;

}



